<div class="card center mr-5 ml-5 mt-5 mb-5">
  <div class="card-body">
    <h4 class="card-title text-center">Permuted Multiples</h4>
    <p class="card-text text-center">It can be seen that the number, 125874, and its double, 251748, contain exactly the same
      digits, but in a
      different order.</p>
      <p class="card-text text-center">Find the smallest positive integer, x, such that 2x, 3x, 4x, 5x, and 6x, contain the same digits.</p>
  </div>
</div>
<div class="col-5 md-5 ml-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-center">Permuted multiples using JS</h5>
      <div>
        <app-permuted-multiples-js></app-permuted-multiples-js>
      </div>
    </div>
  </div>
</div>